body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

iframe {
    width: 90%;
    height: 60vh;
    border: none;
    background-color: blueviolet;
}
